@model Furniture.Models.EF.Menu
@{
    ViewBag.Title = "Cập nhập danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayOut.cshtml";
}
<!-- Left navbar links -->
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/menu" class="nav-link">Danh mục</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Cập nhật</a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật danh mục</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/menu">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin danh mục</h3>

            <div class="card-tools">

            </div>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Edit", "Menu", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x => x.id)
                    <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên danh mục</label>
                            @Html.TextBoxFor(x => x.name, new { @class = "form-control", @placeholder = "Tên danh mục" })
                            @Html.ValidationMessageFor(x => x.name, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Link</label>
                            @Html.TextBoxFor(x => x.link, new { @class = "form-control", @placeholder = "Đường dẫn" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Meta</label>
                            @Html.TextBoxFor(x => x.meta, new { @class = "form-control", @placeholder = "Meta" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Hide</label>
                            @Html.DropDownListFor(x => x.hide, (new[] { new SelectListItem { Text = "True", Value = "true" }, new SelectListItem { Text = "False", Value = "false" } }), new { @class = "form-control" })

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Thứ tự</label>
                            @Html.TextBoxFor(x => x.order, new { @class = "form-control", @placeholder = "Thứ tự" })
                        </div>
                        <div class="form-group">
                            <a class="btn btn-danger" href="/admin/menu">Previous</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>

                }

            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
